{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block content %}

{% load static %}

<div class="masthead">
    <div class="container px-4 px-lg-5 d-flex h-100 align-items-center justify-content-center">
        <div class="d-flex justify-content-center">
            <div class="text-center">
                <h1 class="mx-auto my-4 text-uppercase">Add your own recipe</h1>
                <div>
                    {% if request.user.is_authenticated %}
                    <form action="." novalidate method="POST">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <input class="btn btn-primary" type="submit" value="Submit">
                    </form>
                </div>
                {% else %}
                <div class="mt-5">
                    <li class="nav-item"><a class="nav-link" href="{% url 'account_signup' %}">Sign Up</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'account_login' %}">Login</a></li>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% endblock %}