
/*------------------------------ Links and titles */
a {
    color: #000000;
    cursor: pointer;
}

a:hover {
    color: darkgray;
}

.author {
    color: white;
    margin: 4px;
    text-transform: uppercase;
}

/*------------------------------ Button for likes */
.btn-like {
    color: #ff0000;
    border: none;
    background: transparent;
    margin-left: 20px;
}

.post-link {
    text-decoration: none;
    color: #647689;
}

.post-link:hover,
.page-link {
    color: lightgray;
}

.post-title {
    margin-top: 20%;
    margin-left: 5%;
    color: black;
}


/*------------------------------ Social/contact links */
.contact-section {
    padding-top: 0.1rem;
  }
  
  .contact-section .social {
    margin-top: 0.1rem;
  }
  
  .contact-section .social a {
    text-align: center;
    height: 3rem;
    width: 3rem;
    background: rgba(41, 40, 40, 0.1);
    border-radius: 100%;
    line-height: 3rem;
    color: rgba(2, 1, 1, 0.3);
  }
  
  .contact-section .social a:hover {
    color: #da8164;
  }
  
  .contact-section .social a:active {
    color: rgb(78, 78, 78);
  }
  
  /*------------------------------ Footer styling */
  .footer {
    padding: 3rem 0;
  }
  