@import url('https://fonts.googleapis.com/css2?family=Overlock:wght@700&display=swap');

/*------------------------------ Body */
html, body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  height: 100%;
  margin: 0;
}

body {
  position: relative;
  font-size: 16px;
}

.container {
  max-width: 960px;
}

.navbar-brand {
  color: white;
  font-weight: 500;
}
/*------------------------------ Hero image */

.hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 
  0.1)), url("../images/headerimage.png");

  height: 361px;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

}

.hero-text h1{
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  margin-top: 0;
  margin-bottom: 0.5em;
  font-family: 'Palanquin Dark', sans-serif;
  font-size: 3rem;
}

/*------------ for smaller device hero image */
@media (max-width: 376px) {
  .hero-text h1 {
    font-size: 2rem;
  }
}

/*------------------------------ Links and titles */
a {
    color: black;
    cursor: pointer;
}

a:hover {
    color: #93b9c1;
}

.author {
    color: #93b9c1;
    margin: 4px;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 800;
}

.card-title {
  font-family: 'Palanquin Dark', sans-serif;
  color: #333;
}

a:hover .card-title {
  text-decoration: underline;
  transition: .5s;
}

/*------------------------------ Button and likes */
.btn-like {
    color: #ff0000;
    border: none;
    background: transparent;
    margin-left: 20px;
}

.post-link {
    text-decoration: none;
    color: #040404;
}

.post-link:hover,
.page-link {
    color: #93b9c1;
}

.post-title {
    margin-top: 5%;
    font-family: 'Palanquin Dark', sans-serif;
    color: #333;
}

.pagination {
  color: #93b9c1;
  border-radius: 35px;
}

.icons {
  font-size: 22px;
}

/*------------------------------ images */

.img {
  width: auto;
  height: fit-content;
}

.image-container {
  margin-bottom: 3%;
}

  /*------------------------------ Footer styling */
  footer {
    padding: 60px;
    color: white;
    margin-top: 20px;
  }

  .social {
    font-size: 30px;
  }
