{% extends "base.html" %}
{% load static %}
{% block content %}

<section class="container text-center g-5 mt-5">
<!-- Create your own recipes and add to page -->
<form method="POST">
        <h3>Add your own recipes</h3>
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn btn-secondary right mb-2 btn-success" type="submit" value="Save">Add to your collection</button>
</form>
    {% if messages %}
    {% for message in messages %}
        <div class="text-center alert alert-{{ message.tags }}">
            {{ message|safe }}
        </div>
    {% endfor %}
{% endif %}
    </section>
{% endblock %}