{% extends "base.html" %}
{% load static %}
{% block content %}

<main class="container text-center g-5 mt-5">
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">



    <form method="post">
        <h3>Add your own recipes</h3>
        {% csrf_token %}
        {{ form.as_p }}
        <button style='margin-top:10px;' type="submit">Add your recipes here</button>
    </form>
    {% if messages %}
    {% for message in messages %}
        <div class="text-center alert alert-{{ message.tags }}">
            {{ message|safe }}
        </div>
    {% endfor %}
{% endif %}

</main>
{% endblock %}