{% extends "base.html" %}
{% load static %}
{% block content %}

<!-- Here's to deleting post with options-->
{% if user.is_authenticated and user.id == post.author.id %}
<main class="container">

	<div class="row justify-content-center g-0">
		<div class="col-11 col-md-6 col-xl-4 p-2 mb-5 card-welcome border border-dark border-2 rounded-4 justify-content-center">

			<form method="POST">
                {% csrf_token %}
                
                <p>Are you sure you want to delete this recipe "{{object}}"??</p>

				<input type="submit" value="Confirm">
			</form>

		</div>
	</div>

</main>
{% endif %}
{% endblock content %}