{% extends "base.html" %}
{% load static %}
{% block content %}

<!-- hero image section-->
<!-- <link rel="stylesheet" href="style.css"> -->
<div class="hero-image">
    <div class="hero-text">
        <h1>Welcome to a world of awesome cakes!</h1>
        <p> A place to inspire, and get inspired with good recipes.</p>
    </div>
</div>

<section class="container text-center g-5 mt-5">
    <div class="row">

        <!-- Recipe posts column -->
        <div class="col-12 mt-3 text-start">

        </div>
        {% for post in post_list %}
        <div class="col-md-6 text-start">
            <div class="card mb-4 border-0">
                <div class="card-body">
                    <div class="image-container">
                        {% if "placeholder" in post.featured_image.url %}
                        <img class="card-img-top"
                            src="https://cdn.pixabay.com/photo/2021/01/01/21/56/cooking-5880136_960_720.jpg"
                            alt="placeholder image">
                        {% else %}
                        <img class="card-img-top" src=" {{ post.featured_image.url }}" alt=" {{ post.description }}">
                        {% endif %}
                        <div class="image-flash">
                            <p class="author">Author: {{ post.author }}</p>
                        </div>
                    </div>
                    <a href="{% url 'post_detail' post.slug %}" class="post-link link-dark text-decoration-none">
                        <h2 class="card-title">{{ post.title }}</h2>
                        <p class="card-text">{{ post.excerpt }}</p>
                    </a>
                    <p class="card-text text-muted h6">{{ post.created_on}} <i class="far fa-heart"></i>
                        {{ post.number_of_likes }}</p>
                    <p> Post Id: {{ post.id }} </p>
                    {% if user.is_authenticated %}
                    {% endif %}
                </div>
            </div>
        </div>
        {% if forloop.counter|divisibleby:2 %}
    </div>
    <div class="row">
        {% endif %}
        {% endfor %}
    </div>
    </div>
    </div>
    <!--If more than 6 recipes, start a new page-->
    {% if is_paginated %}
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
            <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; PREV </a></li>
            {% endif %}
            {% if page_obj.has_next %}
            <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>

            {% endif %}
        </ul>
    </nav>
    {% endif %}
</section>
{% endblock %}