{% extends "base.html" %}
{% load static %}
{% block content %}

<!-- Check if the user is authenticated to edit the recipe-->
{% if user.is_authenticated and user.id == recipe.author.id %}

<form method="POST">
    <h3 class="display-2 text-center mt-2">Edit your recipe</h3>
    {% csrf_token %}
    {% for field in form %}
        {{ field | safe }}
    {% endfor %}
    <button class="btn btn-secondary right mb-2" type="submit" value="Save">Save</button>
</form>
</main>

{% elif user.is_authenticated %}

    {% include "forbidden_access.html" %}

{% else %}

    {% include "not_logged_in_error.html" %}

{% endif %}
{% endblock %}