{% extends "base.html" %}
{% block title %} Update your recipe{% endblock %}
{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit your recipe</title>
</head>
<body>
    <body>
        <h3>Edit your recipe:</h3>
        <form method=”POST”>
        {% csrf_token %}
        {{% form.as_p %}}
        <div>
            <p>
                <a class="btn btn-success btn-lg" href="{% url 'create_recipe' %}">Update!</a>
            </p>
        </div>
    </form>
    </body>
</body>
</html>

{% endblock %}