{% extends "base.html" %}

{% block content %}

{% load cloudinary %}

<!-- Check to se if the logged in user is the authenticated of editing this recipe -->
{% if user.is_authenticated and user.id == post.author.id %}
<div class="container">
    <div class="row">
        <div class="col-8 offset-2">
            <h3 class="display-2 text-left mt-2">Edit Recipe</h3>
            <hr>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-10 offset-1">
        <form class="signup" id="create_recipe_form" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p | safe }}
            <button class="btn btn-secondary right mb-2 btn-success" type="submit" value="Save">Save changes</button>
        </form>
    </div>
</div>


<!-- If the user is trying to update a recipe that they're not authorized to do -->
{% else %}

    <div class="container">
      <div class="row justify-content-md-center">
          <div class="col-md-6 mt-4">
              <h2>Sorry, you're not authorised to be here!</h2>
              <p>This isn't your recipe to delete, please check for your own recipe!</p>
          </div>
      </div>
    </div>
{% endif %}
{% endblock %}